// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset/reset.scss";
@import "variables/variables.scss";
@import "typography/typography.scss";
@import "layout/layout";

////////////////////////////////////
// OWN VARIABLES
////////////////////////////////////
$background-banner: url(/src/images/header.jpg);
$margin-center: 0px auto;
$clr-bg-card: #d9e6ae;
$fn-weight-bold:900;

////////////////////////////////////
// OWN MIXIN
////////////////////////////////////

@mixin flex-center {
    display:flex;
    justify-content: center;
    align-items: center;   
}

@mixin background-header {
    background: $background-banner no-repeat bottom left;
    background-size: cover;
}

@mixin title-position {
    @include flex-center;
    padding-top: 2rem;
    width: 70%;
    margin: $margin-center;

}

////////////////////////////////////
// MAIN STYLING
////////////////////////////////////

nav {
    @include flex-center;
    li {
        &:last-child {
            display: none;
        }
    }
}

header {
    height: 50vh;
    font-size: $small;
    @include background-header;
    h1 {
        @include title-position;
    }
}

.cards {
    width: 80vw !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin: 2rem auto;
    h5 {
        font-weight: $fn-weight-bold;
    }
    .card {
        padding: 1rem;
        background-color: $clr-bg-card;
        flex: 1 1 auto !important;
    }
}

main {
    @include flex-center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    >* {
        padding: 1rem;
        flex: 0 1 80%;
    }
    h2,h3 {
        font-weight: bold;
    }
    aside {
        border:$border-size solid $border-color;
    }
    article p {
        font-weight: normal;
    }
}

footer {
    ul {
        @include flex-center;
        justify-content: space-evenly;
        list-style: none;
        height:10vh;
        margin-bottom: 0 !important;
    }
}

@media (min-width:760px) {
    nav {
        justify-content: flex-end;
    }

    .cards {
        width: 98% !important;
        gap:10px;
        align-items: stretch;
        flex-wrap: wrap !important;
        .card {
            @include flex-center;
            flex: 0 0 300px !important;     
            flex-direction: row !important;
            img {
                width: 8rem;
                height: 10rem;
            }
        }
    }

    .cards {
        width: 80% !important;
        height: auto;
        gap:10px;
        flex-wrap: wrap !important;
        .card {
            @include flex-center;
            flex: 0 0 600px !important;     
            flex-direction: row !important;
        }
    }


    main {
        // flex-direction: column !important;
        width: 98%;
        margin: $margin-center;
        margin-bottom: 2rem;
        align-items: stretch;
        aside {
            padding: 1rem;
            flex: 0 1 25% !important;
        }
        article{
            flex: 0 1 50% !important;
        }
    }
}

@media (min-width:1024px) {

    .cards {
        width: 80% !important;
        height: auto;
        gap:10px;
        flex-wrap: wrap !important;
        .card {
            @include flex-center;
            flex: 0 0 600px !important;     
            flex-direction: row !important;
        }
    }

    footer {
        ul {
            justify-content: center;
            gap:10px;
        }
    }
}